@model Shop.Web.Models.DTO.ShoppingCartDTO

@{
    ViewData["Title"] = "Shopping Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        body {
            background: #fff;
        }
        .title{
            margin-bottom: 5vh;
        }
        .card {
            font-size: 0.8rem;
            margin: auto;
            max-width: 950px;
            width: 90%;
            box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            border-radius: 1rem;
            border: transparent;
        }
        @@media(max-width:767px){
            .card{
                margin: 3vh auto;
            }
        }
        .cart{
            background-color: #fff;
            padding: 4vh 5vh;
            border-bottom-left-radius: 1rem;
            border-top-left-radius: 1rem;
        }
        @@media(max-width:767px){
            .cart{
                padding: 4vh;
                border-bottom-left-radius: unset;
                border-top-right-radius: 1rem;
            }
        }
        .summary{
            background-color: #ddd;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
            padding: 4vh;
            color: rgb(65, 65, 65);
        }
        @@media(max-width:767px){
            .summary{
            border-top-right-radius: unset;
            border-bottom-left-radius: 1rem;
            }
        }
        .summary .col-2{
            padding: 0;
        }
        .summary .col-10
        {
            padding: 0;
        }.row{
            margin: 0;
        }
        .title b{
            font-size: 1.5rem;
        }
        .main{
            margin: 0;
            padding: 2vh 0;
            width: 100%;
        }
        .col-2, .col{
            padding: 0 1vh;
        }
        a{
            padding: 0 1vh;
        }
        .close{
            margin-left: auto;
            font-size: 0.7rem;
        }
        img{
            width: 3.5rem;
        }
        .back-to-shop{
            margin-top: 4.5rem;
        }
        h5{
            margin-top: 4vh;
        }
        hr{
            margin-top: 1.25rem;
        }
        form{
            padding: 2vh 0;
        }
        select{
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1.5vh 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }
        input{
            border: 1px solid rgba(0, 0, 0, 0.137);
            padding: 1vh;
            margin-bottom: 4vh;
            outline: none;
            width: 100%;
            background-color: rgb(247, 247, 247);
        }
        input:focus::-webkit-input-placeholder
        {
              color:transparent;
        }
        .btn{
            color: white;
            width: 100%;
            font-size: 0.7rem;
            margin-top: 4vh;
            padding: 1vh;
            border-radius: 0;
        }
        .btn:focus{
            box-shadow: none;
            outline: none;
            box-shadow: none;
            color: white;
            -webkit-box-shadow: none;
            -webkit-user-select: none;
            transition: none;
        }
        .btn:hover{
            color: white;
        }
        a{
            color: black;
        }
        a:hover{
            color: black;
            text-decoration: none;
        }
         #code{
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
            background-repeat: no-repeat;
            background-position-x: 95%;
            background-position-y: center;
        }
    </style>
</head>

<div class="container">
    <div class="card mt-5">
        <div class="row">
            <div class="col-md-8 cart">
                <div class="title">
                    <div class="row">
                        <div class="col"><h4><b>Shopping Cart</b></h4></div>
                        <div class="col align-self-center text-right text-muted">@Model.ProductInShoppingCarts.Count items</div>
                    </div>
                </div>

                @for (int i = 0; i < Model.ProductInShoppingCarts.Count; i++)
                {
                    var item = Model.ProductInShoppingCarts[i];

                    <div class="row border-top border-bottom">
                        <div class="row main align-items-center">
                            <div class="col-2"><img class="img-fluid" src="@item.Product.Image"></div>
                            <div class="col">
                                <div class="row text-muted">@item.Product.Category</div>
                                <div class="row">@item.Product.Name</div>
                            </div>
                            <div class="col">
                                @item.Quantity
                            </div>
                            <div class="col">@(item.Product.Price * @item.Quantity) $<a asp-route-id="@item.ProductId" asp-action="DeleteProductFromShoppingCart" asp-controller="ShoppingCart" class="close">&#10005;</a></div>
                        </div>
                    </div>
                }
            </div>
            <div class="col-md-4 summary">
                <div><h5><b>Summary</b></h5></div>
                <hr>
                <div class="row">
                    <div class="col" style="padding-left:0;">ITEMS @Model.ProductInShoppingCarts.Count</div>
                    <div class="col text-right"><b>@(Model.TotalPrice-5) $</b></div>
                </div>
                <form>
                    <p>SHIPPING</p>
                    <select id="shipping">
                        <option value="4.99" class="text-muted">Standard-Delivery - 5.00 $</option>
                        <option disabled value="9.99" class="text-muted">Fast-Delivery - 10.00 $</option>
                        <option disabled value="99.99" class="text-muted">Same-Day-Delivery - 100.00 $</option>
                    </select>
                </form>
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">TOTAL PRICE</div>
                    <div class="col text-right"><b>@Model.TotalPrice $</b></div>
                </div>
                @if (Model.ProductInShoppingCarts.Count > 0)
                {
                    <a class="btn btn-danger" asp-action="Order">CHECKOUT</a>
                }
                else
                {
                    <a class="btn btn-danger disabled" asp-action="Order">CHECKOUT</a>
                }
            </div>
        </div>
    </div>
</div>
